.aboutMassage {
    @include mainSection;

    &__bg {
        @include mainBgCover;
        background-image: url("../img/sections/aboutMassage/aboutMassage-bg.jpg");
        filter: opacity(.5);
    }

    &__title--bigger {
        @include mainTitleBigger;
    }

    &__title--smaller {
        @include mainTitleSmaller;
    }

    &__desc {
        @include mainNormalDesc;
        max-width: 900px;
    }

    &__windowsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: space-around;
        position: relative;
        max-width: 320px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    &__window {
        margin-bottom: 10px;
        width: 120px;
        padding: 10px;
        border-radius: 20px;
        background: rgba(255, 255, 255, .3);
        border: $color-main-dist-01 solid 2px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__windowIcon {
        font-size: 40px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    }

    &__windowDesc {
        font-size: 11px;
    }

    &__bold {
        @include mainFontBold;
    }

    &__btn {
        @include mainBtn;
    }
}

@media only screen {
    @media (min-width: 560px) {
        .aboutMassage {
            &__windowsContainer {
                max-width: 700px;
            }
        }
    }

    @media (orientation: landscape) {
        @media (min-height: 700px) {
            &__windowsContainer {
                padding-bottom: 25px;
            }
        }
    }
}