.benefits {
    @include mainSection;

    &__bg {
        @include mainBgCover;
    }

    &__title--bigger {
        @include mainTitleBigger;
    }

    &__title--smaller {
        @include mainTitleSmaller;
    }

    &__desc {
        @include mainNormalDesc;
    }

    &__bold {
        @include mainFontBold;
    }

    &__btn {
        @include mainBtn;
    }

    &__windowsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: space-around;
        position: relative;
        max-width: 1050px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    &__window {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        position: relative;
        margin: 10px auto;
        width: 270px;
    }

    &__windowIcon {
        position: absolute;
        top: 0;
        left: -20px;
        line-height: 100%;
        width: 100px;
        height: 100%;
        font-size: 40px;
        filter: saturate(1.5);
    }

    &__windowDesc {
        padding: 0 0 0 80px;
        line-height: 150%;
        text-align: left;
        font-size: 11px;
    }
}

@media only screen {
    @media (min-width: 540px) {
        .benefits {
            &__windowsContainer {
                padding-bottom: 30px;
            }
        }
    }

    @media (min-width: 1000px) {
        .benefits {
            &__windowsContainer {
                padding-bottom: 35px;
            }
        }
    }

    @media (min-width: 1650px) {
        .benefits {
            &__windowsContainer {
                max-width: unset;
            }
        }
    }
}