.footer {
    text-align: center;
    background: $color-main-dist-mix-01;
    filter: saturate(1.5);

    &__contact,
    &__clause {
        line-height: 180%;
    }

    &__contact {
        padding: 40px 0 15px 40px;
    }

    &__line {
        display: block;
        height: 1px;
        width: 80%;
        margin: 20px auto;
        background-color: $color-main-font;
        content: "";
    }

    &__clause {
        padding: 10px 20px 25px;
        color: $color-main-font;
        font-size: 15px;
        text-align: center;
    }
}

@media only screen {
    @media (orientation: portrait) {
        @media (min-height: 640px) {
            .footer {
                &__contact {
                    padding-top: 40px;
                }
            }
        }
    }
}

.contactsContainer {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
    font-size: 16px;

    &__item {
        align-self: flex-start;
        line-height: 200%;
    }

    &__icon {
        padding: 0 15px 0 0;
        font-size: 1.5em;
        transform: translateY(10%);
        opacity: 0.5;
    }
}

@media only screen {
    @media (min-height: 700px) {
        .contactsContainer {
            font-size: 18px;
        }
    }
}