.intro {
    overflow: hidden;
    position: relative;
    margin-top: $heightUpperBar;
    height: 80vh;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../img/intro/intro-01.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        // filter: grayscale(.8);
    }

    &__textContainer {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
        padding: 10%;
        background-color: rgba(0, 0, 0, .5);
        color: $color-btn-font;
        font-size: 22px;
        line-height: 150%;
        font-weight: 100;
        letter-spacing: 2px;
    }

    &__title {
        font-size: 38px;
    }

    &__desc {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &__btn {
        @include mainBtn;
    }
}