// all 

// main 
$color-main-font: black;
$color-main-bgc: white;

//main-dist 
$color-main-dist-font: white;
$color-main-dist-01: #3D9525;
// $color-main-dist-01: #44A705;
$color-main-dist-02: #79C000;
$color-main-dist-mix-01: $color-main-dist-01 linear-gradient(to right, $color-main-dist-01, $color-main-dist-02);

// preloader
$color-preloader: $color-main-dist-mix-01;
// navMenu
$color-navMenu-font: white;
$color-navMenu-bgc: #333;
// button
$color-btn-font: white;
$color-btn-bg: $color-main-dist-mix-01;